/* Add a background color to the header element */
header {
  background-color: dodgerblue;
  padding: 2px;
}

/* Add a fun background color to the main element */
main {
  background-color: darkslategrey;
  padding: 2px;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
.job-title {
  text-align: center;
  font-weight: bold;
}

/* Make your p tag a different color and italic */
p {
  color: springgreen;
  font-style: italic;
}

/* Put a border around your image */
img {
  border: 16px solid black;
  display: block;
  width: 50%;
  height: auto;
}

/* Change the font-family of your list */
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
}

/* Add a background color to the footer element */
footer {
  background-color: black;
  font-size: larger;
  padding: 2px;
}
